@using Alcom.Models
@model ProductViewModel

    <div class="product-area pb-100">
        <div class="container">
            <div class="section-title text-center mb-35">
                <h2>@Model.Baslik</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when look</p>
            </div>
            <div class="product-style">
                <div class="product-tab-list text-center mb-45 nav product-menu-mrg" role="tablist">
                    <a class="active" href="#home1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="home1">
                        <h4>NEW IN </h4>
                    </a>
                    <a href="#home2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home2">
                        <h4>ON SALE </h4>
                    </a>
                    <a href="#home3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home3">
                        <h4>FREE SHIPPING</h4>
                    </a>
                    <a href="#home4" data-toggle="tab" role="tab" aria-selected="false" aria-controls="home4">
                        <h4>HIGHEST RATING</h4>
                    </a>
                </div>
                <div class="tab-content jump">
                    <div class="tab-pane active show fade" id="home1" role="tabpanel">
                        <div class="row">
                            <div class="product-slider-active owl-carousel">
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/1.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$110.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/2.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$120.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/3.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$130.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/4.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$140.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="home2" role="tabpanel">
                        <div class="row">
                            <div class="product-slider-active owl-carousel">
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/5.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$150.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/6.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$160.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/7.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/8.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$180.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="home3" role="tabpanel">
                        <div class="row">
                            <div class="product-slider-active owl-carousel">
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/9.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$190.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/10.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$110.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/11.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$120.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/12.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$130.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="home4" role="tabpanel">
                        <div class="row">
                            <div class="product-slider-active owl-carousel">
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/6.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$140.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/1.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$150.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/10.jpg" alt=""></a>
                                            <span>sale</span>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">WOODEN FURNITURE</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$160.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 col-sm-4">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#"><img src="~/Template/assets/img/product/7.jpg" alt=""></a>
                                            <div class="product-action">
                                                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal" class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="product-details-6.html">HANDCRAFTED MUG</a></h4>
                                                </div>
                                                <div class="product-price">
                                                    <span>$170.00</span>
                                                </div>
                                            </div>
                                            <div class="product-cart-categori">
                                                <div class="product-cart">
                                                    <span>Furniter</span>
                                                </div>
                                                <div class="product-categori">
                                                    <a href="#"><i class="ion-bag"></i> Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>